* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  font-family: "TT Norms";
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(180deg, #f3f3fb 0%, #fdfbfd 100%);
  -webkit-font-smoothing: antialiased;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.textarea .el-textarea__inner {
  border: none;
  overflow: hidden;
}
